.body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.nav__item {
  margin-right: 26px;
  font: 500 18px/21px robotobold, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.nav__item_active::after {
  display: block;
  content: '';
  width: 0%;
  left: 50%;
  height: 3px;
  background: #0056ec;
  position: absolute;
  transition: width 0.2s ease-out;
  transform: translateX(-50%);
}

.nav__item:hover {
  opacity: 0.7;
}

.nav__item_active:hover::after {
  width: 100%;
}

.nav__item:last-child {
  margin-right: 0;
}

.section {
  display: flex;
  align-items: center;
  padding-top: 133px;
}

.main {
  padding-right: 191px;
}

.img {
  max-width: 100%;
}

.img-footer {
  display: flex;
  justify-content: center;
}
