.body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 170px;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.nav__item {
  margin-right: 26px;
  font: 500 18px/21px robotobold, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.nav__item_active::after {
  display: block;
  content: '';
  width: 0%;
  left: 50%;
  height: 3px;
  background: #0056ec;
  position: absolute;
  transition: width 0.2s ease-out;
  transform: translateX(-50%);
}

.nav__item:hover {
  opacity: 0.7;
}

.nav__item_active:hover::after {
  width: 100%;
}

.nav__item:last-child {
  margin-right: 0;
}

.section {
  display: flex;
  align-items: center;
  padding-top: 133px;
}

.main {
  padding: 65px 63% 239px 0;
  background: top right no-repeat url(img/img.svg);
}

.main__title {
  font: 66px/87px pt_serifbold, arial, helvetica, sans-serif;
  margin: 0 0 40px 0;
  color: #000;
}

.main__title-text_highlight {
  background: #ECF3FF;

}

.main__text {
  font: 22px/26px robotomedium, arial, helvetica, sans-serif;
  margin: 0 0 61px 0;
  color: #000;
}

.main__btn {
  font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
  padding: 18px 22px;
  background-color: #0056ec;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.main__btn:hover {
  opacity: 0.7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
