.body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8.854vw;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.nav__item {
  margin-right: 26px;
  font: 500 0.938vw/1.094vw robotobold, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.nav__item_active::after {
  display: block;
  content: '';
  width: 0%;
  left: 50%;
  height: 3px;
  background: #0056ec;
  position: absolute;
  transition: width 0.2s ease-out;
  transform: translateX(-50%);
}

.nav__item:hover {
  opacity: 0.7;
}

.nav__item_active:hover::after {
  width: 100%;
}

.nav__item:last-child {
  margin-right: 0;
}

.section {
  display: flex;
  align-items: center;
  padding-top: 133px;
}

.main {
  padding: 3.385vw 63% 12.448vw 0;
  background: top right no-repeat url(img/img.svg);
  background-size: 50% auto;
}

.main__title {
  font: 3.6vw/4.5vw pt_serifbold, arial, helvetica, sans-serif;
  margin: 0 0 2.083vw 0;
  color: #000;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__text {
  font: 1.1vw/1.3vw robotomedium, arial, helvetica, sans-serif;
  margin: 0 0 3.177vw 0;
  color: #000;
}

.main__btn {
  font: 500 1.1vw/1.3vw robotomedium, arial, helvetica, sans-serif;
  padding: 0.938vw 1.146vw;
  background-color: #0056ec;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.main__btn:hover {
  opacity: 0.7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* MOBILE NAV */

.mobile-nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  z-index: 9999999;
}

.mobile-nav__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 39px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 9999;
}

.mobile-nav__icon {
  display: block;
  position: relative;
  background-color: #0056ec;
  width: 100%;
  height: 3px;
  transition: 0.4s;
}

.mobile-nav__icon::after, 
.mobile-nav__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: #0056ec;
  width: 100%;
  height: 3px;
  transition: 0.4s;
}

.mobile-nav__icon::after {
  top: 6px;
}

.mobile-nav__icon::before {
  top: -6px;
}

.mobile-nav__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  transition: 0.5s;
  overflow: hidden;
  background-color: #fff;
}

.mobile-nav__list {
  transition: 0.5s;
  list-style: none;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 90px 0 0 0;
}

.mobile-nav__item {
  font: 8vw/10.938vw robotomedium, arial, helvetica, sans-serif;
  padding-bottom: 40px;
}

.mobile-nav__link {
  text-decoration: none;
  color: #000;
  opacity: 1;
  transition: opasity 2s ease-out;
}

.mobile-nav__link:hover {
  opacity: 0.7;
}

.mobile-nav__checkbox {
  display: none;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__nav  {
  opacity: 1;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__container {
  height: 100%;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon {
  background: transparent;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before, 
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
  top: 0;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
  transform: rotate(-45deg);
}
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before {
  transform: rotate(45deg);
}
